html {
  @include primary-copy-font;
  color: $base-text-color;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  height: 100%;
}

a {
  outline: none;
}

a,
button {
  transition: all 0.3s;
  text-decoration: none;
}

h1 {
  font-size: 1, 875rem;
}

h2 {
  font-size: 1.875rem;
  text-transform: uppercase;
  color: $pickled_bluewood_text;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.not-scroll {
  overflow: hidden;
}
