// Colors
// Color names - http://chir.ag/projects/name-that-color/
// Calc( (100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin);

$black: #000000;
$white: #ffffff;
$amaranth: #ee3643;
$pickled_bluewood: #293449;
$pickled_bluewood_text: #32425c;
$apple: #63a63e;
$apple_hover: #5fbb2d;
$yellow_orange: #ffbf47;
$picton_blue: #3bbce3;
$light__orchid: #dc91d8;
$fiajoa: #8ed78f;
$aqua_haze: #f4f7f9;
$merino: #f9f5f0;
$gallery: #eaeaea;
$grandis: #ffd180;
$silver_chalice: #a9a9a9;
$pale_sky: #6a7180;
$catskill_white: #f3f7f9;
$iron: #dee3e4;

// Body
$base-text-color: $black;
$secondary-text-color: $pickled_bluewood_text;

// Headings
$base-headings-color: $pickled_bluewood_text;
