/* Box sizing rules */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-bottom: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum";
  src: url("../fonts/cuprum/Cuprum-Regular.woff2") format("woff2");
  src: url("../fonts/cuprum/Cuprum-Regular.eot") format("embedded-opentype"), url("../fonts/cuprum/Cuprum-Regular.otf") format("otf"), url("../fonts/cuprum/Cuprum-Regular.svg") format("svg"), url("../fonts/cuprum/Cuprum-Regular.ttf") format("truetype"), url("../fonts/cuprum/Cuprum-Regular.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "Cuprum";
  src: url("../fonts/cuprum/Cuprum-Bold.woff2") format("woff2");
  src: url("../fonts/cuprum/Cuprum-Bold.eot") format("embedded-opentype"), url("../fonts/cuprum/Cuprum-Bold.otf") format("otf"), url("../fonts/cuprum/Cuprum-Bold.svg") format("svg"), url("../fonts/cuprum/Cuprum-Bold.ttf") format("truetype"), url("../fonts/cuprum/Cuprum-Bold.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: "Cuprum";
  src: url("../fonts/cuprum/Cuprum-Italic.woff2") format("woff2");
  src: url("../fonts/cuprum/Cuprum-Italic.eot") format("embedded-opentype"), url("../fonts/cuprum/Cuprum-Italic.otf") format("otf"), url("../fonts/cuprum/Cuprum-Italic.svg") format("svg"), url("../fonts/cuprum/Cuprum-Italic.ttf") format("truetype"), url("../fonts/cuprum/Cuprum-Italic.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: "Cuprum";
  src: url("../fonts/cuprum/Cuprum-BoldItalic.woff2") format("woff2");
  src: url("../fonts/cuprum/Cuprum-BoldItalic.eot") format("embedded-opentype"), url("../fonts/cuprum/Cuprum-BoldItalic.otf") format("otf"), url("../fonts/cuprum/Cuprum-BoldItalic.svg") format("svg"), url("../fonts/cuprum/Cuprum-BoldItalic.ttf") format("truetype"), url("../fonts/cuprum/Cuprum-BoldItalic.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "PTSans";
  src: url("../fonts/ptsans/PTSans.woff2") format("woff2");
  src: url("../fonts/ptsans/PTSans.eot") format("embedded-opentype"), url("../fonts/ptsans/PTSans.otf") format("otf"), url("../fonts/ptsans/PTSans.svg") format("svg"), url("../fonts/ptsans/PTSans.ttf") format("truetype"), url("../fonts/ptsans/PTSans.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "PTSans";
  src: url("../fonts/ptsans/PTSansBold.woff2") format("woff2");
  src: url("../fonts/ptsans/PTSansBold.eot") format("embedded-opentype"), url("../fonts/ptsans/PTSansBold.otf") format("otf"), url("../fonts/ptsans/PTSansBold.svg") format("svg"), url("../fonts/ptsans/PTSansBold.ttf") format("truetype"), url("../fonts/ptsans/PTSansBold.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: "PTSans";
  src: url("../fonts/ptsans/PTSansItalic.woff2") format("woff2");
  src: url("../fonts/ptsans/PTSansItalic.eot") format("embedded-opentype"), url("../fonts/ptsans/PTSansItalic.otf") format("otf"), url("../fonts/ptsans/PTSansItalic.svg") format("svg"), url("../fonts/ptsans/PTSansItalic.ttf") format("truetype"), url("../fonts/ptsans/PTSansItalic.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: "PTSans";
  src: url("../fonts/ptsans/PTSansBold-italic.woff2") format("woff2");
  src: url("../fonts/ptsans/PTSansBold-italic.eot") format("embedded-opentype"), url("../fonts/ptsans/PTSansBold-italic.otf") format("otf"), url("../fonts/ptsans/PTSansBold-italic.svg") format("svg"), url("../fonts/ptsans/PTSansBold-italic.ttf") format("truetype"), url("../fonts/ptsans/PTSansBold-italic.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "PTSans";
  src: url("../fonts/ptsans-caption/PTSansCaption.woff2") format("woff2");
  src: url("../fonts/ptsans-caption/PTSansCaption.eot") format("embedded-opentype"), url("../fonts/ptsans-caption/PTSansCaption.otf") format("otf"), url("../fonts/ptsans-caption/PTSansCaption.svg") format("svg"), url("../fonts/ptsans-caption/PTSansCaption.ttf") format("truetype"), url("../fonts/ptsans-caption/PTSansCaption.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "PTSans";
  src: url("../fonts/ptsans-caption/PTSansCaptionBold.woff2") format("woff2");
  src: url("../fonts/ptsans-caption/PTSansCaptionBold.eot") format("embedded-opentype"), url("../fonts/ptsans-caption/PTSansCaptionBold.otf") format("otf"), url("../fonts/ptsans-caption/PTSansCaptionBold.svg") format("svg"), url("../fonts/ptsans-caption/PTSansCaptionBold.ttf") format("truetype"), url("../fonts/ptsans-caption/PTSansCaptionBold.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "PTSans";
  src: url("../fonts/ptsans-narrow/PTSansNarrow.woff2") format("woff2");
  src: url("../fonts/ptsans-narrow/PTSansNarrow.eot") format("embedded-opentype"), url("../fonts/ptsans-narrow/PTSansNarrow.otf") format("otf"), url("../fonts/ptsans-narrow/PTSansNarrow.svg") format("svg"), url("../fonts/ptsans-narrow/PTSansNarrow.ttf") format("truetype"), url("../fonts/ptsans-narrow/PTSansNarrow.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "PTSans";
  src: url("../fonts/ptsans-narrow/PTSansNarrowBold.woff2") format("woff2");
  src: url("../fonts/ptsans-narrow/PTSansNarrowBold.eot") format("embedded-opentype"), url("../fonts/ptsans-narrow/PTSansNarrowBold.otf") format("otf"), url("../fonts/ptsans-narrow/PTSansNarrowBold.svg") format("svg"), url("../fonts/ptsans-narrow/PTSansNarrowBold.ttf") format("truetype"), url("../fonts/ptsans-narrow/PTSansNarrowBold.woff") format("woff");
}
html {
  font-family: "Cuprum", sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  height: 100%;
}

a {
  outline: none;
}

a,
button {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

h1 {
  font-size: 1, 875rem;
}

h2 {
  font-size: 1.875rem;
  text-transform: uppercase;
  color: #32425c;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.all-content {
  padding: 0 1.5rem;
}
@media (min-width: 544px) {
  .all-content {
    padding: 0 3.75rem;
  }
}
@media (min-width: 1024px) {
  .all-content {
    padding: 0 7.5rem;
  }
}

.btn {
  border: 0;
  outline: 0;
  background: none;
  color: #ffffff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42px;
}
.btn__green {
  width: 140px;
  height: 38px;
  background: #63a63e;
  padding: 0.875rem 1.5rem;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 3px;
  position: relative;
}
.btn__green:hover, .btn__green:focus-within {
  opacity: 0.9;
  background: #5fbb2d;
}
.btn__green:active {
  background: #39711b;
  opacity: 0.9;
}
.btn__green--menu {
  background: #63a63e;
}
.btn__green--menu:hover, .btn__green--menu:focus-within {
  background: #5fbb2d;
}
.btn__green--menu:active {
  opacity: 0.7;
}
.btn__green--card {
  -webkit-box-shadow: inset 0 -3px #426e29;
          box-shadow: inset 0 -3px #426e29;
}
.btn__green--card svg {
  width: 15px;
  height: 15px;
  fill: #ffffff;
  position: absolute;
  left: 1rem;
  opacity: 0.5;
}
.btn__green--card:hover svg, .btn__green--card:focus-within svg {
  opacity: 1;
}
.btn__green--not-bg {
  color: #32425c;
  background: #ffffff;
  border: 3px solid #63a63e;
}
.btn__green--not-bg:hover, .btn__green--not-bg:focus-within {
  background: none;
  border: 3px solid #32425c;
}
.btn__green--not-bg:active {
  background: none;
  opacity: 0.5;
}
.btn--authorization {
  background: #ffffff;
  color: #000000;
  height: 45px;
  font-size: 21px;
  padding: 0 1.5rem;
}
.btn--authorization:hover, .btn--authorization:focus-within {
  color: #ee3643;
}
.btn--authorization:hover svg, .btn--authorization:focus-within svg {
  opacity: 1;
  fill: #32425c;
}
.btn--authorization:active {
  color: #b3b3b3;
}
.btn--authorization:active svg {
  opacity: 0.3;
  fill: #000000;
}
.btn--banner {
  height: 38px;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.875rem 0.5rem;
  text-transform: uppercase;
  border-radius: 3px;
}
.btn--banner:hover, .btn--banner:focus-within {
  background: rgba(0, 0, 0, 0.2);
}
.btn--banner:active {
  background: rgba(0, 0, 0, 0.3);
}
.btn--red {
  height: 38px;
  background: #ee3643;
  padding: 0.875rem 2.5rem;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 3px;
}
.btn--red:hover, .btn--red:focus-within {
  background: #b9101c;
  opacity: 0.9;
}
.btn--red:active {
  background: #a60e19;
  opacity: 0.9;
}

input {
  border: none;
  outline: none;
  background: none;
  color: #ffffff;
}

.icons-social {
  fill: #ffffff;
  margin-top: 3px;
}
.icons-social--vk {
  width: 26px;
  height: 15px;
}
.icons-social--fb {
  width: 12px;
  height: 22px;
}
.icons-social--insta {
  width: 21px;
  height: 21px;
}

.flag::before {
  position: absolute;
  z-index: 10;
  top: 8px;
  right: -35px;
  content: "new";
  width: 118px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  color: #ffffff;
  background: #ef4450;
}
.flag .products__price {
  opacity: 0;
}

.card {
  border: 1px solid #eaeaea;
  position: relative;
  overflow: hidden;
  z-index: 3;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card:hover, .card:focus-within {
  -webkit-box-shadow: 0 10px 20px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 20px rgba(41, 52, 73, 0.5);
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1.625rem 0.875rem;
  background: #f9f5f0;
  gap: 1.5rem;
}
.heading a {
  padding: 0.5rem;
}
@media (min-width: 425px) {
  .heading a {
    padding: 0 1.5rem;
  }
}
@media (min-width: 768px) {
  .heading {
    padding: 1.625rem 1.875rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .heading a {
    padding: 0.875rem 3.5rem;
  }
}
.heading--catalog {
  background: #f4f7f9;
}

.header {
  background: #f4f7f9;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #293449;
  font-size: 17px;
}
@media (min-width: 992px) {
  .header__navigation {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 42px;
  }
}
@media (min-width: 1024px) {
  .header__navigation {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.header__list-top-menu {
  width: 100%;
  display: -ms-grid;
  display: grid;
  position: relative;
}
.header__list-top-menu svg {
  position: absolute;
  left: 0.063rem;
}
@media (min-width: 544px) {
  .header__list-top-menu {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .header__list-top-menu {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
  .header__list-top-menu svg {
    position: static;
  }
}
@media (min-width: 992px) {
  .header__list-top-menu {
    -ms-grid-columns: 2fr (1fr)[3];
    grid-template-columns: 2fr repeat(3, 1fr);
  }
}
.header__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.header__item-top:last-child button {
  min-width: 150px;
  width: 100%;
}
.header__item-top span {
  margin-left: 0.2rem;
  margin-right: 0.875rem;
}
.header__item-top:hover, .header__item-top:focus-within {
  background: #202839;
}
.header__item-top:hover .header__icon, .header__item-top:focus-within .header__icon {
  opacity: 1;
}
.header__item-top:active {
  background: #171d28;
}
.header__item-top:active .header__icon {
  opacity: 0.3;
}
.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}
.header__form svg {
  position: absolute;
  top: 50%;
  left: 0.969rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
}
.header__form input {
  color: #ffffff;
  width: 100%;
  height: 42px;
  text-align: center;
  padding: 0 0.875rem;
}
.header__form input::-webkit-input-placeholder {
  color: #ffffff;
}
.header__form input::-moz-placeholder {
  color: #ffffff;
}
.header__form input:-ms-input-placeholder {
  color: #ffffff;
}
.header__form input::-ms-input-placeholder {
  color: #ffffff;
}
.header__form input::placeholder {
  color: #ffffff;
}
@media (min-width: 768px) {
  .header__form input {
    padding-right: 0.875rem;
    padding-left: 3rem;
    text-align: start;
  }
}
.header__form:focus-within {
  background: #ffffff;
}
.header__form:focus-within .header__icon {
  opacity: 1;
  fill: #ee3643;
}
.header__form:focus-within .header__search::-webkit-input-placeholder {
  color: #000000;
}
.header__form:focus-within .header__search::-moz-placeholder {
  color: #000000;
}
.header__form:focus-within .header__search:-ms-input-placeholder {
  color: #000000;
}
.header__form:focus-within .header__search::-ms-input-placeholder {
  color: #000000;
}
.header__form:focus-within .header__search, .header__form:focus-within .header__search::placeholder {
  color: #000000;
}
.header__icon {
  width: 17px;
  height: 17px;
  fill: #ffffff;
  opacity: 0.3;
  margin-right: 0.875rem;
  margin-left: 0.875rem;
}
.header__icon:not(:first-child) {
  width: 100%;
}
.header__info {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-row-align: center;
      align-self: center;
  gap: 2rem;
  margin: 3rem 0;
}
@media (min-width: 1024px) {
  .header__info {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    gap: 0.6rem;
  }
}
.header__info svg {
  opacity: 0.3;
}
.header__text {
  color: #ee3643;
  font-style: italic;
  line-height: 1.4375em;
  text-align: center;
}
@media (min-width: 992px) {
  .header__text {
    text-align: start;
  }
}
@media (min-width: 1099px) {
  .header__text {
    max-width: 16.875em;
    padding-left: 3.5rem;
  }
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contacts a {
  font-size: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  max-width: 270px;
  width: 100%;
  padding: 0.625rem 3rem;
  margin-bottom: 0.625rem;
  text-align: center;
  position: relative;
}
.header__contacts a:focus-within {
  opacity: 0.5;
}
.header__contacts svg {
  width: 19px;
  height: 19px;
  position: absolute;
  left: 0.875rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__address {
  color: #32425c;
  font-size: 14px;
  text-align: center;
}
.header__authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 0.3rem 0.625rem;
}
@media (min-width: 1099px) {
  .header__authorization {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.header__authorization svg {
  width: 20px;
  height: 17px;
  margin-right: 0.875rem;
}
.header__menu {
  padding-bottom: 3.75rem;
}
.header__list-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 0.3rem 0;
}
@media (min-width: 768px) {
  .header__list-menu {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .header__list-menu {
    -ms-grid-columns: (1fr)[7];
    grid-template-columns: repeat(7, 1fr);
  }
}
.header__item-menu {
  width: 100%;
  height: 100%;
  background-color: #32425c;
  border-bottom: 5px solid #242f42;
}
.header__item-menu:last-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
@media (min-width: 768px) {
  .header__item-menu:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}
@media (min-width: 992px) {
  .header__item-menu:last-child {
    grid-column: auto;
  }
}
.header__item-menu:hover, .header__item-menu:focus-within {
  background: #242f42;
}
.header__item-menu:active {
  background: #202a3b;
  border-bottom: 5px solid #202a3b;
}
.header__item-menu:active .header__link {
  opacity: 0.5;
}
.header__link {
  padding: 0 0.5rem;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 47px;
  background: #ee3643;
  border-bottom: 5px solid #b9101c;
}
.logo a:hover, .logo a:active, .logo a:focus-within {
  background: #de1321;
  border-bottom: 5px solid #720a11;
  opacity: 0.85;
}
.logo img {
  -o-object-fit: none;
     object-fit: none;
}

.banners {
  margin: 3.75rem 0;
}
@media (max-width: 545px) {
  .banners {
    padding: 0;
  }
}
.banners__list {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}
@media (min-width: 768px) {
  .banners__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1099px) {
  .banners__list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
.banners__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0.875rem 2.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 1.5rem;
  max-height: 124px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .banners__item:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
@media (min-width: 1099px) {
  .banners__item:nth-child(5) {
    grid-column: auto/auto;
  }
}
@media (min-width: 1024px) {
  .banners__item {
    justify-items: start;
  }
}
@media (min-width: 1099px) {
  .banners__item {
    gap: 0.875rem 1.25rem;
  }
}
.banners__item a {
  width: 135px;
}
.banners__item--materials {
  background: #ffbf47;
}
.banners__item--tools {
  background: #3bbce3;
}
.banners__item--technic {
  background: #dc91d8;
}
.banners__item--discounts {
  background: #8ed78f;
}
.banners__item--delivery {
  background: #ffbf47;
}
.banners__title {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
.banners__icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  fill: #ffffff;
}
.banners__icon--1 {
  width: 44px;
  height: 65px;
}
.banners__icon--2 {
  width: 75px;
  height: 61px;
}
.banners__icon--3 {
  width: 78px;
  height: 62px;
}
.banners__icon--4 {
  width: 59px;
  height: 72px;
}
.banners__icon--5 {
  width: 78px;
  height: 63px;
}
.banners__slider {
  height: 184px;
  background: #eaeaea;
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 1;
  grid-column: 1/1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  .banners__slider {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    height: 268px;
  }
}
@media (min-width: 1099px) {
  .banners__slider {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
.banners__slider svg {
  width: 22px;
  fill: #ffffff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 10;
}
.banners__slider svg:hover {
  opacity: 0.5;
  cursor: pointer;
}
.banners__slider svg:active {
  opacity: 0.2;
}
.banners__btn-slider {
  position: absolute;
  left: 1.5rem;
  bottom: 1.6875rem;
}
.banners__arrow-left {
  left: 1.5rem;
}
.banners__arrow-right {
  right: 1.5rem;
}
.banners__dot-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50);
      -ms-transform: translateX(-50);
          transform: translateX(-50);
  bottom: 0.5rem;
}
@media (min-width: 768px) {
  .banners__dot-wrap {
    bottom: 2.5rem;
  }
}
.banners__dot-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
}
.banners__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  height: 100%;
}
.banners__wrap-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem 1.5rem;
}
.banners__title-slide {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}
.banners__subtitle {
  font-size: 18px;
}

#r_01:checked ~ #sl_01,
#r_02:checked ~ #sl_02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#r_01:checked ~ .banners__dot-wrap #dot_01,
#r_02:checked ~ .banners__dot-wrap #dot_02 {
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: #ee3643;
}

.products {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  margin-bottom: 1.375rem;
}
.products__list {
  display: -ms-grid;
  display: grid;
  gap: 1.375rem;
}
@media (min-width: 544px) {
  .products__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .products__list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .products__list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
.products__card {
  min-height: 316px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.products__card:hover, .products__card:focus-within {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.products__card:hover img, .products__card:focus-within img {
  display: none;
}
.products__card:hover .products__buttons, .products__card:focus-within .products__buttons {
  display: block;
}
.products__info {
  padding: 0 1.375rem 1.375rem;
  text-align: center;
  font-family: "PTSans", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #000000;
}
.products__buttons {
  position: absolute;
  top: 2.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  background: #ffffff;
  display: none;
}
.products__buttons a {
  margin-bottom: 0.25rem;
}
.products__preview {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 170px;
}
.products__model-name {
  font-size: 18px;
}
.products__price {
  text-decoration: line-through;
  margin: 0.575rem 0;
  opacity: 0.4;
}
.products__price span {
  margin-right: 0.5rem;
}
.products__discounted-price {
  text-transform: uppercase;
  -webkit-clip-path: polygon(88% 0%, 100% 51%, 88% 100%, 0 100%, 0 0);
          clip-path: polygon(88% 0%, 100% 51%, 88% 100%, 0 100%, 0 0);
  max-width: 142px;
  margin: 0 auto;
}
.products__discounted-price:hover, .products__discounted-price:focus-within, .products__discounted-price:active {
  background: #ee3643;
  opacity: 1;
  cursor: default;
}
.products__discounted-price span {
  margin-right: 0.5rem;
}

.brands {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  margin-bottom: 1.375rem;
}
.brands__list {
  display: -ms-grid;
  display: grid;
  gap: 1.375rem;
}
@media (min-width: 544px) {
  .brands__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .brands__list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .brands__list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
.brands__card {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 145px;
  padding: 0 1.375rem;
}
.brands__card:active {
  opacity: 0.5;
}

.services {
  background: #f4f7f9;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  overflow: hidden;
}
.services p {
  font-family: "PTSans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.services__content {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}
@media (min-width: 768px) {
  .services__content {
    gap: 0;
  }
}
.services__content h2 {
  color: #000000;
  margin-bottom: 1.25rem;
}
.services__about {
  max-width: 332px;
}
.services__block {
  display: -ms-grid;
  display: grid;
}
@media (min-width: 768px) {
  .services__block {
    -ms-grid-columns: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
    padding: 1.625rem 0;
    margin-top: 2rem;
  }
}
.services__navigation {
  font-size: 21px;
  font-weight: 600;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(auto-fit, 70px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  position: relative;
}
@media (min-width: 544px) {
  .services__navigation {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .services__navigation {
    -ms-grid-columns: none;
    grid-template-columns: none;
  }
  .services__navigation::before {
    content: "";
    position: absolute;
    z-index: 10;
    right: -30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
    height: 140%;
    background: #f4f7f9;
  }
  .services__navigation::after {
    content: "";
    position: absolute;
    right: 0;
    right: -5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 3px;
    height: 115%;
    border-radius: 50%;
    background: #ffffff;
    -webkit-box-shadow: 3px 0 4px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}
.services__navigation label {
  padding: 1.375rem;
  background: #32425c;
  border-top: 1px solid #394b69;
  border-bottom: 1px solid #273448;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.services__navigation label:hover, .services__navigation label:focus-within {
  background: #242f42;
}
@media (min-width: 768px) {
  .services__slides {
    padding-left: 5rem;
  }
}
.services__slide {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: none;
}
@media (min-width: 768px) {
  .services__slide {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .services__slide button {
    padding: 0.875rem 1.5rem;
  }
}
@media (min-width: 992px) {
  .services__slide button {
    padding: 0.875rem 3.5rem;
  }
}
.services__wrap {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: relative;
  z-index: 10;
}
.services__title {
  font-size: 36px;
  text-transform: uppercase;
  color: #32425c;
  margin-bottom: 1.25rem;
}
.services__text {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .services__pic {
    position: absolute;
    top: 34px;
    right: 0;
    z-index: 9;
  }
}

#btnDelivery:checked ~ div label[for=btnDelivery],
#btnWarranty:checked ~ div label[for=btnWarranty],
#btnCredit:checked ~ div label[for=btnCredit] {
  color: #32425c;
  background: #ffffff;
  border: 1px solid #ffffff;
}

#btnDelivery:checked ~ ul #slideDelivery,
#btnWarranty:checked ~ ul #slideWarranty,
#btnCredit:checked ~ ul #slideCredit {
  display: -ms-grid;
  display: grid;
}

.contacts {
  display: -ms-grid;
  display: grid;
  gap: 2rem 6.25rem;
  margin: 5rem 0;
  position: relative;
}
@media (min-width: 768px) {
  .contacts {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .contacts {
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
  }
}
.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__title {
  color: #000000;
  font-size: 30px;
  margin-bottom: 2.25rem;
}
.contacts__text {
  font-family: "PTSans", sans-serif;
  font-size: 13px;
  margin-bottom: 2.25rem;
}
.contacts__list-company li {
  position: relative;
  font-size: 18px;
  margin-left: 2.25rem;
  margin-bottom: 1.5rem;
}
.contacts__list-company li::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -2.25rem;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}
.contacts__frame-map {
  cursor: pointer;
}
.contacts__map {
  width: 100%;
  border: none;
  aspect-ratio: 5/3;
}
@media (min-width: 768px) {
  .contacts__map {
    width: auto;
  }
}
.contacts__btn {
  margin-top: 1.25rem;
}
@media (min-width: 768px) {
  .contacts__btn {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.contacts__btn--width {
  padding: 0;
  width: 100%;
}

.write-us {
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 7px solid #ee3643;
  display: -ms-grid;
  display: grid;
}
@media (min-width: 544px) {
  .write-us {
    width: auto;
  }
}
.write-us__wrap {
  padding: 2.75rem 2.5rem 0;
}
@media (min-width: 544px) {
  .write-us__wrap {
    padding: 2.75rem 2rem 0;
  }
}
@media (min-width: 768px) {
  .write-us__wrap {
    padding: 2.75rem 5rem 0;
  }
}
.write-us__form {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  height: 100%;
}
@media (min-width: 544px) {
  .write-us__form div:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
.write-us__title {
  font-size: 18px;
}
.write-us__input {
  border: 2px solid #dee3e4;
  border-radius: 3px;
  color: #000000;
  font-family: "PTSans", sans-serif;
  font-size: 13px;
  margin-top: 0.625rem;
  padding: 0 0.875rem;
  height: 38px;
  min-width: 220px;
  width: 100%;
}
.write-us__input::-webkit-input-placeholder {
  opacity: 0.6;
  font-size: 13px;
}
.write-us__input::-moz-placeholder {
  opacity: 0.6;
  font-size: 13px;
}
.write-us__input:-ms-input-placeholder {
  opacity: 0.6;
  font-size: 13px;
}
.write-us__input::-ms-input-placeholder {
  opacity: 0.6;
  font-size: 13px;
}
.write-us__input::placeholder {
  opacity: 0.6;
  font-size: 13px;
}
.write-us__input--textarea {
  padding: 0.875rem;
  max-width: none;
  width: 100%;
  min-height: 110px;
  resize: none;
  outline: none;
  margin-bottom: 2.375rem;
}
.write-us__input:focus {
  border: 2px solid #ee3643;
}
.write-us__wrap-btn {
  padding: 2.375rem 2.5rem;
  background: #f4f7f9;
}
@media (min-width: 544px) {
  .write-us__wrap-btn {
    padding: 2.375rem 5rem;
  }
}
.write-us__btn {
  width: 95%;
}
@media (min-width: 544px) {
  .write-us__btn {
    width: 100%;
  }
}

.popup {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  position: relative;
  display: none;
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 22px;
  height: 22px;
}
.popup__close:hover, .popup__close:focus-within {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.popup__close::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 21px;
  height: 3px;
  background: #ee3643;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup__close::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 21px;
  height: 3px;
  background: #ee3643;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.popup--big-shadow {
  -webkit-box-shadow: 0 12px 15px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 12px 15px 10px rgba(0, 0, 0, 0.4);
  position: absolute;
}
.popup--map-active {
  position: absolute;
  top: 0;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 0;
}
@media (min-width: 544px) {
  .popup--map-active {
    left: 3.75rem;
    right: 3.75rem;
  }
}
@media (min-width: 1024px) {
  .popup--map-active {
    left: 7.5rem;
    right: 7.5rem;
  }
}
.popup--map-active iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: auto;
}

.show {
  display: block;
}

.crumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem 2.375rem;
  font-family: "PTSans", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  padding: 1.5rem 0;
}
.crumbs__list li {
  position: relative;
}
.crumbs__list li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -1.375rem;
  width: 8px;
  height: 12px;
  background: url("../images/svg/icon-right-small.svg") no-repeat;
}
.crumbs__list li:not(:last-child) li .crumbs__link:hover, .crumbs__list li:not(:last-child) li .crumbs__link:focus {
  cursor: default;
}
.crumbs__link {
  color: #000000;
}
.crumbs__link:hover, .crumbs__link:focus {
  opacity: 0.5;
}
.crumbs__icon {
  width: 14px;
  height: 12px;
  opacity: 0.3;
}

.description {
  color: #000000;
}
@media (min-width: 768px) {
  .description {
    text-align: start;
  }
}
.description h2 {
  margin-bottom: 2.25rem;
}
.description__text {
  font-family: "PTSans", sans-serif;
  font-size: 13px;
  text-align: start;
}

.footer {
  background: #2f3b53;
}
.footer > * {
  color: white;
}
.footer__block {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  font-size: 18px;
  padding-bottom: 3.125rem;
}
@media (min-width: 768px) {
  .footer__block {
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    justify-items: stretch;
    gap: 1rem;
  }
}
.footer__block--down {
  background: #293449;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  gap: 1rem 3.75rem;
}
@media (min-width: 544px) {
  .footer__block--down {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    gap: 0;
  }
}
.footer__logo a {
  height: 68px;
  padding: 1.1875rem 2.4375rem;
}
.footer__logo img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}
.footer__wrap {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}
.footer__wrap p {
  margin-top: 1.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__wrap p {
    text-align: start;
    max-width: 335px;
  }
}
@media (min-width: 768px) {
  .footer__wrap {
    justify-items: start;
  }
}
.footer__address {
  line-height: 1.5rem;
}
.footer__address a {
  color: inherit;
}
.footer__address a:hover {
  opacity: 0.5;
}
.footer__navigation {
  width: 100%;
}
.footer__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2.5rem;
  gap: 1rem 1.5rem;
}
@media (min-width: 544px) {
  .footer__navigation ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 768px) {
  .footer__navigation ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 1rem 3.5rem;
  }
}
.footer__navigation a:hover, .footer__navigation a:focus-within {
  text-decoration: underline;
}
.footer__navigation a:active {
  opacity: 0.4;
}
.footer__item-top a {
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer__list-down {
    padding-left: 1.375rem;
    padding-bottom: 1.575rem;
  }
}
.footer__item-down a {
  color: #ffbf47;
}
.footer__copyright {
  text-align: center;
}
@media (min-width: 544px) {
  .footer__copyright {
    text-align: start;
  }
  .footer__copyright p {
    max-width: 280px;
  }
}
.footer__socil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}
.footer__item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #232d3f;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.footer__item-social:hover, .footer__item-social:active, .footer__item-social:focus-within {
  background: #ee3643;
}
.footer__feedback {
  display: -ms-grid;
  display: grid;
  gap: 1rem 2.875rem;
}
@media (min-width: 1024px) {
  .footer__feedback {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer__item-feedback a {
  color: #ffbf47;
}
.footer__item-feedback a:hover, .footer__item-feedback a:focus-within {
  text-decoration: underline;
}
.footer__item-feedback a:active {
  color: #ee3643;
}