<div class="header__authorization {{auth}}">
  <button class="btn btn--authorization header__user-active">
    <svg>
      <use xlink:href="images/sprite.svg#icon-user"></use>
    </svg>
    <span>Андрей Лосиков</span>
    <svg>
      <use xlink:href="images/sprite.svg#icon-login"></use>
    </svg>
  </button>
  <div class="header__wrap-links">
    <a href="#" class="header__link-office">Мои заказы</a>
    <a href="#" class="header__link-office">Личный кабинет</a>
  </div>
</div>
<div class="header__authorization {{hidden}}">
  <button href="#" class="btn btn--authorization">
    <svg>
      <use xlink:href="images/sprite.svg#icon-login"></use>
    </svg>
    Войти
  </button>
  <a href="#" class="btn btn--authorization">Регистрация</a>
</div>