<div class="header">
  <nav class="all-content header__navigation">
    <div class="logo">
      <a href="index.html">
        <img src="images/logo.png" alt="logo">
      </a>
    </div>
    <ul class="header__list-top-menu">
      <li class="header__item-top">
        <form class="header__form" claaction="/" method="get">
          <svg class="header__icon">
            <use xlink:href="images/sprite.svg#icon-search"></use>
          </svg>
          <input type="search" class="header__search" placeholder="Поиск:">
        </form>
      </li>
      <li class="header__item-top">
        <svg class="header__icon">
          <use xlink:href="images/sprite.svg#icon-bookmark"></use>
        </svg>
        <button class="btn">Закладки:<span>0</span></button>
      </li>
      <li class="header__item-top">
        <svg class="header__icon">
          <use xlink:href="images/sprite.svg#cart-icon"></use>
        </svg>
        <button class="btn">Корзина:<span>0</span></button>
      </li>
      <li class="header__item-top">
        <button class="btn btn__green--menu">Оформить заказ</button>
      </li>
    </ul>
  </nav>
  <div class="all-content header__info">
    <p class="header__text">Интернет-магазин строительных материалов и инструментов для ремонта</p>
    <div class="header__contacts">
      <a href="tel:+78125550555">
        <svg>
          <use xlink:href="images/sprite.svg#icon-phone"></use>
        </svg>
        +7 (812) 555-05-55
      </a>
      <p class="header__address">г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8</p>
    </div>
    <div class="header__authorization">
      <button href="#" class="btn btn--authorization">
        <svg>
          <use xlink:href="images/sprite.svg#icon-login"></use>
        </svg>
        Войти
      </button>
      <a href="#" class="btn btn--authorization">Регистрация</a>
    </div>
  </div>
  <nav class="all-content header__menu">
    <ul class="header__list-menu">
      <li class="header__item-menu"><a href="index.html" class="btn header__link">Главная</a></li>
      <li class="header__item-menu"><a href="#" class="btn header__link">Компания</a></li>
      <li class="header__item-menu"><a href="catalog.html" class="btn header__link">Каталог</a></li>
      <li class="header__item-menu"><a href="#" class="btn header__link">Новости</a></li>
      <li class="header__item-menu"><a href="#" class="btn header__link">Спецпредложения</a></li>
      <li class="header__item-menu"><a href="#" class="btn header__link">Доставка</a></li>
      <li class="header__item-menu"><a href="#" class="btn header__link">Контакты</a></li>
    </ul>
  </nav>
</div>