<div class="popup popup--big-shadow write-us">
  <div class="write-us__wrap">
    <form action="/" class="write-us__form">
      <div>
        <label for="yourName" class="write-us__title">Ваше имя:</label>
        <input id="yourName" type="text" class="write-us__input" placeholder="Имя Фамилия">
      </div>
      <div>
        <label for="yourEmail" class="write-us__title">Ваш e-mail:</label>
        <input id="yourEmail" type="email" class="write-us__input" placeholder="email@example.com">
      </div>
      <div>
        <label for="yourMessage" class="write-us__title">Текст письма:</label>
        <textarea id="yourMessage" class="write-us__input write-us__input--textarea"
          placeholder="В свободной форме"></textarea>
      </div>
    </form>
  </div>
  <div class="write-us__wrap-btn">
    <button class="btn btn--red write-us__btn">ОТПРАВИТЬ</button>
  </div>
</div>