.btn {
  border: 0;
  outline: 0;
  background: none;
  color: $white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;

  &--green {
    background: $apple;

    &:hover,
    &:focus-within {
      background: $apple_hover;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &--authorization {
    background: $white;
    color: $black;
    height: 45px;
    font-size: 21px;
    padding: 0 1.5rem;

    &:hover,
    &:focus-within {
      color: $amaranth;

      & svg {
        opacity: 1;
        fill: $pickled_bluewood_text;
      }
    }

    &:active {
      color: lighten($black, 70%);

      & svg {
        opacity: 0.3;
        fill: $black;
      }
    }
  }

  &--banner {
    height: 38px;
    background: rgba($black, 0.1);
    padding: 0.875rem 0.5rem;
    text-transform: uppercase;
    border-radius: 3px;

    &:hover,
    &:focus-within {
      background: rgba($black, 0.2);
    }

    &:active {
      background: rgba($black, 0.3);
    }
  }

  &--red {
    height: 38px;
    background: $amaranth;
    padding: 0.875rem 3.5rem;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 3px;

    &:hover,
    &:focus-within {
      background: darken($amaranth, 18%);
      opacity: 0.9;
    }

    &:active {
      background: darken($amaranth, 22%);
      opacity: 0.9;
    }
  }
}
