.contacts {
  display: grid;
  gap: 2rem 6.25rem;
  margin: 5rem 0;
  position: relative;

  @include tablet-and-bigger {
    grid-template-columns: 1fr 1fr;
  }

  @include desktop-and-bigger {
    grid-template-columns: 2fr 1fr;
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    color: $black;
    font-size: 30px;
    margin-bottom: 2.25rem;
  }

  &__text {
    @include secondary-copy-font;
    font-size: 13px;
    margin-bottom: 2.25rem;
  }

  &__list-company {
    & li {
      position: relative;
      font-size: 18px;
      margin-left: 2.25rem;
      margin-bottom: 1.5rem;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -2.25rem;
        width: 25px;
        height: 2px;
        background-color: $amaranth;
      }
    }
  }

  &__frame-map {
    cursor: pointer;
  }

  &__map {
    width: 100%;
    border: none;
    aspect-ratio: 5/3;

    @include tablet-and-bigger {
      width: auto;
    }
  }

  &__btn {
    margin-top: 1.25rem;

    @include tablet-and-bigger {
      align-self: flex-start;
    }

    &--width {
      padding: 0;
      width: 100%;
    }
  }
}
