.filter {
  @include secondary-copy-font;
  text-transform: uppercase;
  margin-bottom: 1.5rem;

  &__list {
    display: grid;

    & > li {
      font-size: 15px;
      padding: 1.25rem 0;

      &:not(:last-child) {
        border-bottom: 1px solid $gallery;
      }
    }
  }

  &__wrap-range {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  &__range {
    grid-column: 1/4;
  }

  &__input-quantity {
    color: $black;
    background: $merino;
    border-radius: 3px;
  }

  &__sublist {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30%);
    gap: 1.5rem;
  }

  &__subitem {
    padding-left: 35px;
    position: relative;

    & label::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 27px;
      height: 23px;
      opacity: 0.3;
      background: url('../images/svg/checkbox-off.svg') no-repeat;
      cursor: pointer;
    }

    & label:hover::before {
      opacity: 0.4;
    }

    & label:active:before {
      opacity: 0.1;
    }

    & input:checked + label::before {
      background: url('../images/svg/checkbox-on.svg') no-repeat;
    }

    &--radio {
      & label::before {
        width: 25px;
        height: 25px;
        background: url('../images/svg/radio-off.svg') no-repeat;
      }

      & input:checked + label::before {
        background: url('../images/svg/radio-on.svg') no-repeat;
      }
    }
  }

  &__title-parameter {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  &__btn {
    width: 100%;
  }
}
