.filter {
  @include secondary-copy-font;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  grid-row: 2/3;

  @include tablet-and-bigger {
  }

  &__list {
    display: grid;

    & > li {
      font-size: 15px;
      padding: 1.25rem 0;

      &:not(:last-child) {
        border-bottom: 1px solid $gallery;
      }
    }
  }

  &__wrap-range {
    display: grid;
    gap: 0.5rem;
    
    @include tablet-and-bigger {
    }
  }

  &__range {
    background: $merino;
    border-radius: 3px;
    padding: 0.6rem 0.25rem;
  }

  &__inputs {
    display: grid;
    gap: 0.5rem;
    @include secondary-copy-font;
    font-size: 17px;
    color: $black;

    & span {
      display: none;
    }

    @include tablet-and-bigger {
      grid-template-columns: 0.5fr 0.25fr 0.5fr;
      align-items: center;
      justify-content: center;

      & span {
        display: inline-block;
      }
    }
  }

  &__input-quantity {
    color: $black;
    background: $merino;
    border-radius: 3px;
    padding: 0.6rem 0.25rem;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    @include tablet-and-bigger {
      max-width: 100px;
    }
  }

  &__sublist {
    display: grid;
    gap: 1.5rem;
  }

  &__subitem {
    padding-left: 35px;
    position: relative;

    & label::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 27px;
      height: 23px;
      opacity: 0.3;
      background: url('../images/svg/checkbox-off.svg') no-repeat;
      cursor: pointer;
    }

    & label:hover::before {
      opacity: 0.4;
    }

    & input:checked + label::before {
      background: url('../images/svg/checkbox-on.svg') no-repeat;
    }

    & input:disabled + label::before {
      opacity: 0.1;
    }

    &--radio {
      & label::before {
        width: 25px;
        height: 25px;
        background: url('../images/svg/radio-off.svg') no-repeat;
      }

      & input:checked + label::before {
        background: url('../images/svg/radio-on.svg') no-repeat;
      }
    }
  }

  &__title-parameter {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  &__btn {
    width: 100%;

    @include tablet-and-bigger {
      margin: 2rem 0;
      width: auto;
    }
  }
}
