.footer {
  background: lighten($pickled_bluewood, 3%);

  & > * {
    color: white;
  }

  &__block {
    display: flex;
    gap: 1rem 3.75rem;
    margin: 0 8rem;
    font-size: 18px;
    padding-bottom: 3.125rem;

    &--down {
      background: $pickled_bluewood;
      font-size: 16px;
      justify-content: space-between;
      align-items: center;
      padding: 1.875rem 8rem;
      margin: 0;
    }
  }

  &__logo {
    & a {
      height: 68px;
      padding: 1.1875rem 2.4375rem;
    }

    & img {
      object-fit: contain;
      max-width: 100%;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__address {
    line-height: 1.5rem;
  }

  &__navigation {
    width: 100%;

    & ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-top: 2.5rem;
      gap: 1rem 3.5rem;
    }

    & a {
      &:hover {
        text-decoration: underline;
      }

      &:active {
        opacity: 0.4;
      }
    }
  }

  &__list-top {
  }

  &__item-top {
    & a {
      color: $white;
    }
  }

  &__list-down {
    padding-left: 1.375rem;
    padding-bottom: 1.575rem;
  }

  &__item-down {
    & a {
      color: $yellow_orange;
    }
  }

  &__copyright {
    max-width: 234px;
  }

  &__socil {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__item-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: darken($pickled_bluewood, 3%);
    transition: background 0.3s;

    &:hover,
    &:active {
      background: $amaranth;
    }
  }

  &__feedback {
    display: flex;
    justify-content: space-between;
    gap: 2.875rem;
  }

  &__item-feedback {
    & a {
      color: $yellow_orange;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        color: $amaranth;
      }
    }
  }
}
