.header {
  &__top-menu {
    display: flex;
    height: 42px;
    background: $pickled_bluewood;
    font-size: 17px;
  }

  &__list-top-menu {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__item-top {
    display: flex;
    justify-content: end;
    color: $white;

    & button {
      min-width: 150px;
    }

    &:first-child {
      justify-content: start;
    }

    & span {
      margin-left: 0.2rem;
    }

    &:hover {
      background: darken($pickled_bluewood, 5%);

      & .header__icon {
        opacity: 1;
      }
    }

    &:active {
      background: darken($pickled_bluewood, 10%);
      
      & .header__icon {
        opacity: 0.3;
      }
    }
  }
  
  &__search-wrap {
    flex-grow: 1;
    
    & svg {
      margin: 0 1rem;
    }
    
    & form {
      display: flex;
      align-items: center;
      height: 100%;
    }
    
    &:focus-within {
      background: $white;
      
      & .header__icon {
        opacity: 1;
        fill: $amaranth;
      }

      & .header__search,
      & .header__search::placeholder {
        color: $black;
      }
    }
  }

  &__icon {
    width: 17px;
    height: 17px;
    fill: $white;
    opacity: 0.3;
    margin-right: 0.875rem;
  }

  &__search {
    color: $white;
    height: 42px;

    &::placeholder {
      color: $white;
    }
  }

  &__info {
  }

  &__text {
  }

  &__contacts {
  }

  &__address {
  }

  &__authorization {
  }

  &__menu {
  }

  &__list-menu {
  }

  &__item-menu {
  }

  &__link {
  }
}
