.logo {
  & a {
    display: flex;
    justify-content: center;
    width: 220px;
    height: 47px;
    background: $amaranth;
    border-bottom: 5px solid darken($amaranth, 18%);

    &:hover,
    &:active,
    &:focus-within {
      background: darken($amaranth, 10%);
      border-bottom: 5px solid darken($amaranth, 33%);
      opacity: 0.85;
    }
  }

  & img {
    object-fit: none;
  }
}
