.pages-nav {
  padding: 1.875rem 0;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.625rem;

    @include tablet-and-bigger {
      justify-content: flex-start;
    }
  }

  &__btn {
    width: 38px;
    height: 38px;
    padding: 0;
  }
}
