.products {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 1.375rem;

  &--cotalog {
    & ul {
      @include phone-and-bigger {
        grid-template-columns: auto;
      }

      @include tablet-and-bigger {
        grid-template-columns: repeat(2, 1fr);
      }

      @include big-desktop-and-bigger {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  &__list {
    display: grid;
    gap: 1.375rem;

    @include phone-and-bigger {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet-and-bigger {
      grid-template-columns: repeat(3, 1fr);
    }

    @include small-desktop-and-bigger {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__card {
    min-height: 316px;
    display: grid;
    justify-items: center;
    align-content: space-between;

    &:hover,
    &:focus-within {
      align-content: stretch;
      align-items: end;

      & img {
        display: none;
      }

      & .products__buttons {
        display: block;
      }
    }
  }

  &__info {
    padding: 0 1.375rem 1.375rem;
    text-align: center;
    @include secondary-copy-font;
    font-size: 17px;
    font-weight: 600;
    color: $black;
  }

  &__buttons {
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background: $white;
    display: none;

    & a {
      margin-bottom: 0.25rem;
    }
  }

  &__preview {
    object-fit: cover;
    max-height: 170px;
  }

  &__model-name {
    font-size: 18px;
  }

  &__price {
    text-decoration: line-through;
    margin: 0.575rem 0;
    opacity: 0.4;

    & span {
      margin-right: 0.5rem;
    }
  }

  &__discounted-price {
    text-transform: uppercase;
    clip-path: polygon(88% 0%, 100% 51%, 88% 100%, 0 100%, 0 0);
    max-width: 142px;
    margin: 0 auto;

    &:hover,
    &:focus-within,
    &:active {
      background: $amaranth;
      opacity: 1;
      cursor: default;
    }

    & span {
      margin-right: 0.5rem;
    }
  }
}
