.products {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 1.375rem;

  &__list {
    display: grid;
    justify-items: center;
    gap: 1.375rem;

    @include phone-and-bigger {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet-and-bigger {
      grid-template-columns: repeat(3, 1fr);
    }

    @include small-desktop-and-bigger {
      grid-template-columns: repeat(4, 1fr);
    }

    & li {
      border: 1px solid $gallery;

      &:hover,
      &:focus-within {
        box-shadow: 0 10px 20px rgba($pickled_bluewood, 0.5);
      }
    }
  }

  &__info {
    padding: 0 1.375rem 1.375rem;
    text-align: center;
    @include secondary-copy-font;
    font-size: 17px;
    font-weight: 600;
    color: $black;
  }

  &__card {
    min-height: 316px;
    display: flex;
    flex-direction: column;
  }

  &__preview {
    object-fit: none;
  }

  &__model-name {
    font-size: 18px;
  }

  &_price {
    text-decoration: line-through;
    margin: 0.575rem 0;
    opacity: 0.4;

    & span {
      margin-right: 0.5rem;
    }
  }

  &__discounted-price {
    text-transform: uppercase;
    clip-path: polygon(88% 0%, 100% 51%, 88% 100%, 0 100%, 0 0);
    max-width: 142px;
    margin: 0 auto;

    & span {
      margin-right: 0.5rem;
    }
  }
}
